
.diary-container{
    display: flex;
    /* position: relative; */
    /* width: 442px; */
    width: 458.17px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.02);
    text-decoration: none;
}

h1{
    text-decoration: none;
    color: black;
}

.p-diary{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    align-self: stretch;
    overflow: hidden;
    color: #1E1E1E;
    text-overflow: ellipsis;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

ul{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

li{
    list-style-type: none;
}

.action-wrapper{
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .input-field{
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: center;
    text-align: center;
    border-radius: 12px;
    border: 2px solid black;
    margin-bottom: 4px;
  }
  
  .action-button{
    display: flex;
    width: 100%;
    padding: 10px 177px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 12px;
    background: black;
    color: white;
  }
  
  .action-button:disabled {
    display: flex;
    width: 100%;
    padding: 10px 177px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 12px;
    /* background: black;
    color: white; */
    background-color: transparent;
    color: #555;
    cursor: not-allowed;
    /* outline: none;
    border: none; */
  }
  
  .cta-button p{
    font-weight: 700;
  }