@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Plus Jakarta Sans;
}

p{
  color: white;
}

.bio-nim-header-banner p {
  color: black;
}

h1{
  font-weight: 700;
  font-size: 24px;
  line-height: normal;
}

p{
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
}

.profile-header-banner{
  width: 120px;
  height: 120px;
  position: relative;
}

.body{
  background-color: #F4F4F4;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-container{
  display: flex;
  width: 442px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  background-color: white;
  border-radius: 24px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4); 
}

.header-banner-wrapper{
  display: flex;
  align-items: center;
  gap: 32px;
}

.content-header-banner{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.action-wrapper{
  width: 100%;
}

.input-field{
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: center;
  text-align: center;
  border-radius: 12px;
  border: 2px solid black;
  margin-bottom: 4px;
}

.action-button{
  display: flex;
  width: 100%;
  padding: 10px 177px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 12px;
  background: black;
  color: white;
}

.cta-button p{
  font-weight: 700;
}